
.venv/
.env

data/athlete_pose_converted/test/
data/athlete_pose_converted/train/
data/athlete_pose_converted/valid/
data/custom_running_form/keypoints/
data/custom_running_form/videos/

videos/RunningFormTechnical.mp4

runs/
uploads/
src/__pycache__/

yolo*